<!DOCTYPE html>
<html>

<head>
  <title>Kerhotilan varauspalvelu</title>
</head>

<body>
  <h1>Kerhotilan varauspalvelu</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  {% if not session.username %}
  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Luo tunnus</a>
    {% else %}
    <a href="/logout">Kirjaudu ulos</a>
    <a href="/user/{{ session.user_id }}">Käyttäjäsivu</a>
  </p>
  {% endif %}

  <p>
    {% if session.username %}
    <a href="/new_reservation">Uusi ajanvaraus</a>
    {% endif %}
    <a href="/search">Hae ajanvaraus</a>
  </p>

  {% if reservations %}
  <h2>Varaukset</h2>

  <ul>
  {% for reservation in reservations %}
    <li>
      <a href="/reservation/{{ reservation.id }}">
        {{ reservation.title }}
      </a>
      <br />
      <a href="/user/{{ reservation.user_id }}">{{ reservation.username }}</a>
      ({{ reservation.time }})
    </li>
  {% endfor %}
  </ul>
  {% endif %}
</body>

</html>
