<!DOCTYPE html>
<html>

<head>
  <title>{{ reservation.title }}</title>
</head>

<body>
  <h1>{{ reservation.title }}</h1>
  <p>
    Järjestäjä:
    <a href="/user/{{ reservation.user_id }}">{{ reservation.username }}</a>
  </p>
  <p>
    Ajankohta: {{ reservation.time }}
  </p>
  <p>
    {{ reservation.description }}
  </p>
  {% if session.username == reservation.username %}
  <p>
    <a href="/edit/{{ reservation.id }}">Muokkaa varausta</a>
    <a href="/remove_reservation/{{ reservation.id }}">Poista varaus</a>
  </p>
  {% endif %}

  {% if session.username and session.username != reservation.username %}
  <form action="/register_event" method="post">
    <p>Käyttäjänimesi:
      <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
    </p>
    <input type="hidden" name="reservation_id" value="{{ reservation.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Ilmoittaudu" />
  </form>
  {% endif %}
  <ul>
    {% for registration in registrations %}
    {% if registration.reservation_id == reservation.id %}
    <li><a>{{ registration.username }}</a></li>
    {% if session.username == registration.username %}
    <p>
      <a href="/remove_registration/{{ registration.id }}">Poista ilmoittautuminen</a>
    </p>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if not session.username %}
    <p>
      Jos haluat ilmoittautua,
      <a href="/login">kirjaudu sisään</a>
      ensin
    </p>
    {% endif %}

  </ul>
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>