<!DOCTYPE html>
<html>

<head>
  <title>{{ reservation.title }}</title>
</head>

<body>
  <h1>{{ reservation.title }}</h1>
  <p>
    Järjestäjä: {{ reservation.username }}
  </p>
  <p>
    Ajankohta: {{ reservation.time }}
  </p>
  <p>
    {{ reservation.description }}
  </p>
  {% if session.username == reservation.username %}
  <p>
    <a href="/edit/{{ reservation.id }}">Muokkaa varausta</a>
    <a href="/remove/{{ reservation.id }}">Poista varaus</a>
  </p>
  {% endif %}

  {% if session.username and session.username != reservation.username %}
  <form action="/register_event" method="post">
    <p>Käyttäjänimesi: {{ session.username }}</p>
    <input value="{{ session.user_id }}" type="hidden" name="user_id" />
    <input value="{{ reservation.id }}" type="hidden" name="reservation_id" />
    <input type="submit" value="Ilmoittaudu" />
  </form>
  {% endif %}
  <ul>
    {% for registration in registrations %}
    {% if registration.reservation_id == reservation.id %}
    <li><a>{{ registration.username }}</a></li>
    {% if session.username == registration.username %}
    <p>
      <a href="/remove/{{ registration.id }}">Poista ilmoittautuminen</a>
    </p>
    {% endif %}
    {% endif %}
    {% endfor %}
  </ul>
  <p>
    <a href="/">Takaisin</a>
  </p>
</body>

</html>
